{% extends "base.html" %} {%block title%} Iris Chat-bot {%endblock%} {%block
style%} <link rel="stylesheet" href="/static/css/chat_faq.css" /> {%endblock%}
{% block body %}
<!-- partial:index.partial.html -->
<section class="msger">
  <div class="msger-header">
    <div class="msger-header-title">
      <sup><span>Iris</span></sup>
      <button class="myBtn" id="myBtn">
        <img
          src="/static/images/exclamation-circle-svgrepo-com.svg"
          class="exclamation-img"
          alt=""
        />
      </button>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <img
            class="excl-img"
            src="/static/images/exclamation-triangle-svgrepo-com.svg"
            alt=""
          />
          <span class="popup-title">Warning</span><br /><br />
          <pre>
            May occasionally generate incorrect information. May occasionally
            produce harmful instructions or biased content. It's does not
            replace the advice of a doctor. 
            
            Disclaimer: The information provided
            by this chatbot is not a substitute for professional medical advice,
            diagnosis or treatment. The information provided by this chatbot is
            for general information purposes only. Always seek the advice of
            your doctor before starting or changing treatment.
          </pre>
        </div>
      </div>
    </div>
  </div>
  <main class="msger-chat">
    <div class="msg left-msg">
      <div class="msg-img">
        <img src="/static/images/robot-face-svgrepo-com.svg" alt="" />
      </div>
      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">Iris</div>
        </div>
        <div class="msg-text">
          Hello there! I am Iris, your personal medical assistant. I'm here to
          help you with health-related questions you may have. So go ahead.😄
          <br />
          Examples: What is bmr? or What is bmi? or I feel I have agitation and
          hallucinations visual and tremor.
        </div>
      </div>
    </div>
  </main>
  <form class="msger-inputarea">
    <!-- the counter with style -->
    <input
      type="text"
      id="counter"
      placeholder="250"
      disabled
      style="
        width: 50px;
        height: 50px;
        font-weight: 700;
        border: none;
        background-color: #fff;
        text-align: center;
      "
    />
    <input
      type="text"
      class="msger-input"
      id="textInput"
      autofocus
      placeholder="Enter your message..."
      autocomplete="off"
      required
      maxlength="250"
      onkeyup="textCounter(this,'#counter',250);"
    />
    <button type="submit" class="msger-send-btn">
      <img src="/static/images/send.svg" alt="" />
    </button>
  </form>
</section>
<!-- partial -->
<script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
<script src="/static/js/chat_faq.js"></script>
{% endblock %}
